{% extends "base.html" %}
{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <h1 class="text-center">Crear Tarea</h1>
            <form method="post" action="{% url 'createTask' %}" class="card card-body">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary">
                    Guardar
                </button>
            </form>
        </div>
    </div>
</main>

{% endblock %}

<h1>Create Task</h1>
<form method="post" action="/task/create/">
    {% csrf_token %}
    {{form.as_p}}
    <button>
        Save
    </button>